body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    text-align: center;
}

.logo {
    width: 130px;
    margin-bottom: 20px;
}

.links {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.links label {
    font-size: 20px;
    color: #003399;
    font-weight: bold;
    cursor: pointer;
}

.hidden { display: none; }

form {
    display: none;
}

#tab-login:checked ~ #login {
    display: block;
}

#tab-register:checked ~ #register {
    display: block;
}

input {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #003399;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 12px;
}

button {
    padding: 12px;
    background: #003399;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}